@font-face {
  font-family: "TheYearOfTheCamel";
  src: url("TheYearOfTheCamel-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "TheYearOfTheCamel";
  src: url("TheYearOfTheCamel-Bold.ttf") format("truetype");
  font-weight: 700;
}
