@font-face {
  font-family: "TheYearOfTheCamel";
  src: url("https://cdn.jsdelivr.net/gh/xDPixel/camelyearfont@latest/TheYearOfTheCamel-Regular.woff2") format("woff2"),
       url("https://cdn.jsdelivr.net/gh/xDPixel/camelyearfont@latest/TheYearOfTheCamel-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
